{% load static %}

<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <title>The Horne Measurement System</title>
    </head>
    <body class="font-veteranTypewriter">
        <main class="flex flex-col items-center w-screen px-4" id="user-entry-area">
            <div class="flex justify-center mt-12 mb-12 text-xl sm:text-2xl uppercase text-black">
                The Horne Measurement System
            </div>

            <form action="" method="post" class="">
                {% csrf_token %}
                <div class="flex w-full justify-center items-start mb-12">
                    <div class="w-1/2 pr-2">
                        <input id="{{ form.input_value.html_name }}" name="input_value" class="w-full h-7 bg-white border border-black p-1 text-base sm:text-lg" {% if form.input_value.value %} value = "{{ form.input_value.value }}" {% endif %}>
                        <div class="text-xs sm:text-base">
                            {{ form.input_value.errors }}
                        </div>

                    </div>
                    <div class="w-1/2 pl-2">
                        <select class="w-full h-7 bg-white border border-black p-1 text-sm sm:text-lg" id="input_unit" name="input_unit">
                            {% for option in form.input_unit %}
                                {% if option == input_unit %}
                                    {{ option.selected }}
                                {% else %}
                                    {{ option }}
                                {% endif %}
                            {% endfor %}
                        </select>
                        <div class="text-xs sm:text-base">
                            {{ form.input_unit.errors }}
                        </div>
                    </div>
                </div>
                    <div class="flex justify-center items-start mb-12 text-sm sm:text-lg">
                    {{ form.output_category.label_tag }}
                    <div class="">
                        <select class="h-7 bg-white border border-black p-1 pl-4 ml-4 text-sm sm:text-lg" id="output_category" name="output_category">
                            {% for option in form.output_category %}
                                {% if option == output_category %}
                                    {{ option.selected }}
                                {% else %}
                                    {{ option }}
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                        <div class="text-xs sm:text-base">
                            {{ form.output_category.errors }}

                        </div>
                </div>
                <div class="flex justify-center mb-12">
                    <button type="submit" class=" w-1/2 h-12 rounded-full bg-red-800 text-white text-xl sm:text-2xl uppercase">
                            Convert
                    </button>
                </div>
            </form>
            {% if result %}
                <div class="flex justify-center mb-12 text-lg sm:text-2xl text-center text-black">
                {{ result }}

                </div>
             <div>
                        {{ modulo }}
                    </div>

            {% endif %}
        </main>

    <!-- Font Awesome javascript file -->
    <script src="https://kit.fontawesome.com/d6619092c6.js" crossorigin="anonymous"></script>
  </body>
</html>


