{% load static %}

<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <title>The Horne Measurement System</title>
    </head>
    <body class="font-veteranTypewriter">
        <main class="flex flex-col items-center w-full" id="user-entry-area">
            <div class="w-full h-20 flex justify-center mt-24 mb-12 text-4xl uppercase text-black">
                The Horne Measurement System
            </div>
            <form>

                <div class="flex justify-between items-center mb-12">
                    <div class="w-7/12 mr-4">
                        <input class="w-full border border-black p-1 pl-4" type="number" id="user-entry" placeholder="Value to be converted">
                    </div>
                    <div class="w-5/12 ml-4">
                        <select class="w-full bg-white border border-black p-1 pl-4" id="unit" name="unit">
                            <option name="0" value="">--SELECT A UNIT--</option>
                            <option name="1" value="" class="bg-black text-white hover:bg-black hover:text-white">---LENGTH---</option>
<!--                            TODO: Category names should not change colour on hover-->
                            <option name="millimetres">millimetres</option>
                            <option name="centimetres">centimetres</option>
                            <option name="metres">metres</option>
                            <option name="kilometres">kilometres</option>
                            <option name="miles">miles</option>
                            <option name="yards">yards</option>
                            <option name="feet">feet</option>
                            <option name="inches">inches</option>
                            <option name="2" value="" class="bg-black text-white">---WEIGHT---</option>
                            <option name="kilograms">kilograms</option>
                            <option name="grams">grams</option>
                            <option name="milligrams">milligrams</option>
                            <option name="pounds">pounds</option>
                            <option name="ounces">ounces</option>

                        </select>
                    </div>
                </div>

                <div class="flex justify-between items-center mb-12">
                    <label for="output-options" class="w-2/12">
                    Output settings
                    </label>
                    <select class="w-6/12 bg-white border border-black p-1 pl-4" name="output-options" id="output-options">
                        {% for category in categories %}
                        <option name="{{ category.itemCategory }}">{{ category.itemCategory }}</option>
                        {% endfor %}

                    </select>
                    <div>
                        OR
                    </div>
                    <div class="text-red-800">
                        <i class="fa-solid fa-shuffle border border-red-800 rounded-full p-1"></i>
                    </div>
                </div>
                <div class="flex justify-center w-full">
                    <a href="" class="w-1/2 h-12 rounded-full bg-red-800 text-white text-xl">
                        <div class="flex items-center justify-center w-full h-full text-white text-2xl uppercase">
                            Convert
                        </div>
                    </a>
                </div>

        
            </form>
        



        </main>

    <!-- Font Awesome javascript file -->
    <script src="https://kit.fontawesome.com/d6619092c6.js" crossorigin="anonymous"></script>
  </body>
</html>


