{% load static %}

<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <title>The Horne Measurement System</title>
    </head>
    <body class="font-veteranTypewriter">
        <main class="flex flex-col items-center w-full" id="user-entry-area">
            <div class="w-full h-20 flex justify-center mt-24 mb-12 text-4xl uppercase text-black">
                The Horne Measurement System
            </div>

            <form action="" method="post" class="w-6/12">

                {% csrf_token %}

                <div class="w-full flex justify-between items-center mb-12">
                    <div class="w-full mr-4">
                        <input id="{{ form.user_entry.html_name }}" name="user_entry" class="w-full bg-white border border-black p-1 pl-4" {% if form.user_entry.value %} value = "{{ form.user_entry.value }}" {% endif %}>
                        {{ form.user_entry.errors }}



                    </div>
                    <div class="w-full ml-4 ">

                        <select class="w-full bg-white border border-black p-1 pl-4" id="unit_choice" name="unit_choice">
                            {% for option in form.unit_choice %}
                                {% if option == unit_choice %}
                                    {{ option.selected }}
                                {% else %}
                                    {{ option }}
                                {% endif %}
                            {% endfor %}
                        </select>
                        {{ form.unit_choice.errors }}
                    </div>
                </div>

                <div class="flex justify-between items-center mb-12">
                    {{ form.output_options.label_tag }}
                    <div class="w-3/12">
                        <select class="w-full bg-white border border-black p-1 pl-4" id="output_options" name="output_options">
                            {% for option in form.output_options %}
                                {% if option == output_options %}
                                    {{ option.selected }}
                                {% else %}
                                    {{ option }}
                                {% endif %}
                            {% endfor %}

                        </select>
                    </div>

{{ form.output_options.errors }}


                </div>
                <div class="flex justify-center w-full">
                    <button type="submit" class=" w-1/2 h-12 rounded-full bg-red-800 text-white text-xl uppercase">
<!--                        <div class="flex items-center justify-center w-full h-full text-white text-2xl uppercase">-->
                            Convert
    <!--                        </div>-->
                    </button>
                </div>

            </form>




            {% if result %}
                <h2>RESULT: {{ result }}</h2>
            {% endif %}


        </main>

    <!-- Font Awesome javascript file -->
    <script src="https://kit.fontawesome.com/d6619092c6.js" crossorigin="anonymous"></script>
  </body>
</html>


