<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book detail</title>
</head>
<body>
{% if book_detail %}
    <h1> {{ book_detail.title }}</h1>
    <h2>by {{ book_detail.author }}</h2> <br>
        Genre: {{ book_detail.genre }}<br>
        Good Reads Rating: {{ book_detail.goodreads_rating }} <br>
        Read Status: {{ book_detail.get_read_status_display }}<br>
        Library availability: {{ book_detail.library_availability }} <br>
        ISBN: {{ book_detail.isbn }} <br>








{% else %}
    <p>List does not exist</p>
{% endif %}
</body>
</html>