<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List detail</title>
</head>
<body>

{% if books_in_list %}
    <h1> {{ list }}</h1>
    <table>
    <thead>
    <tr>
        <td>Title</td>
        <td>Author</td>
        <td>Genre</td>
        <td>Read Status</td>
    </tr>
    </thead>
        {% for book in books_in_list %}
        <tr>
        <td><a href="{% url 'book_detail' book.id %}">{{ book.title }}</a></td>
        <td>{{ book.full_name }}</td>
        <td>{{ book.genre.genre }}</td>
        <td>{{ book.get_read_status_display }}</td>
        </tr>
    {% endfor %}
    </table>





{% else %}
    <p>List does not exist</p>
{% endif %}
</body>
</html>